@tailwind base;
@tailwind components;
@tailwind utilities;

.font-light {
    font-family: "Inter", sans-serif;
    font-variation-settings: "wght" 300;
}

.font-normal {
    font-family: "Inter", sans-serif;
    font-variation-settings: "wght" 400;
}

.font-medium {
    font-family: "Inter", sans-serif;
    font-variation-settings: "wght" 500;
}

.font-semibold {
    font-family: "Inter", sans-serif;
    font-variation-settings: "wght" 600;
}

.font-bold {
    font-family: "Inter", sans-serif;
    font-variation-settings: "wght" 700;
}
